<h1>GET_ADVANCE_AUTHORIZATION-TEST</h1>

<h4 style="margin-bottom: -5px;">DATA_RESPONSE</h4>
<pre>access_token = <%= obj_res["access_token"] %>
refresh_token = <%= obj_res["refresh_token"] %></pre>

</br></br>---</br>
<a href="/">Back</a>