<h1>GET_AUTH_3_URL-TEST</h1>

<h4>DATA_RESPONSE</h4>
<pre><a href="<%= obj_res %>">getAuth3Url</a></pre>

<% if request.env['QUERY_STRING'].to_s != "" %>
	<% code = request.env['QUERY_STRING'].to_s.gsub('code=', '') %>
	</br>
	<pre>code => <%= code %></br><a href="/getAdvanceAuthorization?code=<%= code %>">getAdvanceAuthorization(<%= code %>)</a></pre>
<% end %>

</br></br>---</br>
<a href="/">Back</a>