<h1>GET_STATUS_BY_TRANSACTION_ID-TEST</h1>

<% if obj_res == nil %>
	<form action="/getStatusByTransactionId">
		<input type="text" name="transactionId" placeholder="transactionId">
		<input type="submit" value="Send">
	</form> 
<% else %>
	<h4 style="margin-bottom: -18px;">DATA_RESPONSE</h4>
	<pre><%= obj_res.to_yaml %></pre>
<% end %>

</br></br>---</br>
<a href="/">Back</a>