<title>TEST SDK Nimble Payments</title>

<h1>TEST</h1>

<h4 style="margin-bottom: 7px">PAYMENTS</h4>
<pre style="margin-top: -6px;"><a href="/sendPayment">SendPayment</a></pre>
<pre style="margin-top: -6px;"><a href="/getStatusByTransactionId">GetStatusByTransactionId</a></pre>
<pre style="margin-top: -6px;"><a href="/getStatusByMerchantOrderId">GetStatusByMerchantOrderId</a></pre>
<pre style="margin-top: -6px;"><a href="/updateMerchantOrderId">UpdateMerchantOrderId</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentdetails">PaymentDetails</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentrefunds">PaymentRefunds</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentdisputes">PaymentDisputes</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslist">PaymentsList</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslistfilterbydate">PaymentsListFilterByDate</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslistfilterbymerchantorderid">PaymentsListFilterByMerchantOrderId</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslistfilterbystate">PaymentsListFilterByState</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslistfilterbyhasrefunds">PaymentsListFilterByHasRefunds</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslistfilterbyhasdisputes">PaymentsListFilterByHasDisputes</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslistfilterbyentryreference">PaymentsListFilterByEntryReference</a></pre>
<pre style="margin-top: -6px;"><a href="/paymentslistfilterbypagination">PaymentsListFilterByPagination</a></pre>

<h4 style="margin-bottom: 7px">ENVIRONMENT</h4>
<pre style="margin-top: -6px;"><a href="/verification">Verification</a></pre>

<h4 style="margin-bottom: 7px">AUTH</h4>
<pre style="margin-top: -6px;"><a href="/getBasicAuthorization">GetBasicAuthorization</a></pre>
<pre style="margin-top: -6px;"><a href="/getAdvanceAuthorization">GetAdvanceAuthorization</a></pre>
<pre style="margin-top: -6px;"><a href="/refreshAdvanceAuthorization">RefreshAdvanceAuthorization</a></pre>

<h4 style="margin-bottom: 7px">ACCOUNT</h4>
<pre style="margin-top: -6px;"><a href="/balance">Balance</a></pre>
<pre style="margin-top: -6px;"><a href="/cashout">Cashout</a></pre>
<pre style="margin-top: -6px;"><a href="/refund">Refund</a></pre>