<title>PAYMENTS LIST FILTER BY ENTRY REFERENCE</title>

<h1>PAYMENTS_LIST_FILTER_BY_ENTRY_REFERENCE-TEST</h1>

<% if load_msg == "OK" %>
	<h4 style="margin-bottom: -18px;">DATA_RESPONSE</h4>
	<pre><%= obj_res.to_yaml %></pre>
<% else %>
	<pre><%= load_msg %></pre>
<% end %>

</br></br>---</br>
<a href="/">Back</a>