<h1>SENDPAYMENT-TEST</h1>

<h4 style="margin-bottom: -18px;">DATA_RESPONSE</h4>
<pre><%= obj_res.to_yaml %></pre>

<% if obj_res['result']['code'] == 200 %>
	</br></br>
	<a href="<%= obj_res['data']['paymentUrl'] %>"><%= obj_res['data']['paymentUrl'] %></a>
<% end %>

</br></br>---</br>
<a href="/">Back</a>